* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 300px;
  height: auto;
  padding: 0;
  margin: auto;
}
.card_body {
  padding: 10px;
}
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  /* margin: auto; */
  align-items: center;
  margin-top: 100px;
}
.img {
  width: 298px;
}
.li {
  list-style: none;
}
.btn {
  margin-top: 10px;
}
