* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header_nav_container {
  max-width: 97%;
  padding: 0px 20px;
  margin: auto;
}

.header_nav {
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
}
.header_nav_ul {
  width: 50%;
  color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_ul_logo_i {
  font-size: 35px;
}
.header_nav_ul_li {
  font-size: 1.25rem;
  font-weight: 500;
}
.header_nav_ul_li_a {
  margin: 0;
  padding: 0;
}
.header_nav_span {
  width: 336px;
  display: flex;
  gap: 30px;
  margin-left: 32%;
}
.header_nav_span_li {
  font-weight: 500;
}
.header_nav_span_li_a {
  text-decoration: none;
}

.try {
  color: blue;
  font-size: 1.25rem;
}

.log {
  font-size: 1rem;
}

.orenge {
  color: #ff764d;
}

.bxs-down-arrow {
  color: rgba(0, 0, 0, 0);
}

.down {
  display: flex;
  display: none;
  align-items: center;
}
.down_p {
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
}
.down_i {
  color: black;
  margin-left: 5px;
  font-size: 10px;
}

@media only screen and (max-width: 1275px) {
  .header_nav_container {
    max-width: 97%;
    padding: 0px 20px;
    margin: auto;
  }
  .header_nav {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header_nav_ul {
    width: 48%;
    color: rgba(0, 0, 0, 0);
    display: flex;
    gap: 17px;
    align-items: center;
  }
  .header_nav_ul_logo_i {
    font-size: 32px;
  }
  .header_nav_ul_li {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .header_nav_ul_li_a {
    margin: 0;
    padding: 0;
  }
  .header_nav_span {
    width: 364px;
    display: flex;
    gap: 30px;
    margin-left: 24%;
  }
  .header_nav_span_li {
    font-weight: 500;
  }
  .header_nav_span_li_a {
    text-decoration: none;
  }
}
@media only screen and (max-width: 1111px) {
  .header_nav_container {
    max-width: 97%;
    padding: 0px 20px;
    margin: auto;
  }
  .header_nav {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header_nav_ul {
    width: 48%;
    color: rgba(0, 0, 0, 0);
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .header_nav_ul_logo_i {
    font-size: 32px;
  }
  .header_nav_ul_li {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .header_nav_ul_li_a {
    margin: 0;
    padding: 0;
  }
  .header_nav_span {
    display: flex;
    gap: 30px;
    margin-left: 19%;
  }
  .header_nav_span_li {
    font-weight: 500;
  }
  .header_nav_span_li_a {
    text-decoration: none;
  }
}
@media only screen and (max-width: 1024px) {
  .down {
    display: block;
    display: flex;
  }
  .header_nav_ul {
    width: 12%;
    align-items: center;
  }
  .none {
    display: none;
  }
}
.intro_nav {
  position: sticky;
  height: 70px;
  background-color: #ffa;
  display: flex;
  width: 100%;
  align-items: center;
}
.intro_nav_ul {
  position: sticky;
  width: 16%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.intro_nav_ul_li {
  font-size: 15px;
  font-weight: 500;
}

.orange {
  color: rgb(218, 145, 18);
}

.make {
  max-width: 800px;
  min-height: 207px;
  padding: 20px;
  margin: auto;
  margin-top: 133px;
}
.make_h4 {
  font-size: 26px;
}
.make_p {
  margin-top: 50px;
  font-size: 17px;
}

.intro {
  width: 85%;
  background: #000;
  margin: auto;
}
.intro_h2 {
  color: red;
  font-size: 100px;
  display: flex;
  justify-content: center;
  padding-top: 300px;
}

.img {
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=306&ixjsv=1.1.3&q=50&w=893");
  background-size: cover;
  background-position: center;
  height: 85vh;
}

@media only screen and (max-width: 768px) {
  .intro_h2 {
    font-size: 60px;
  }
}
.images {
  margin-top: 210px;
  position: relative;
  width: 100%;
  height: 950px;
}
.images_img1 {
  position: absolute;
  top: 175px;
  left: 200px;
  z-index: 2;
  width: 700px;
  height: 600px;
}
.images_img2 {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 270px;
  right: 150px;
  z-index: 22;
}
.images_yellow {
  width: 1000px;
  height: 950px;
  background-color: #ffa;
  position: absolute;
  top: 0;
  right: 0;
}

.making {
  max-width: 800px;
  min-height: 165px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}
.making_h4 {
  font-size: 26px;
}
.making_p {
  margin-top: 21px;
  font-size: 17px;
}

.video {
  text-align: center;
  margin: auto;
  margin-top: 140px;
  max-width: 800px;
  padding: 20px;
}
.video_video {
  width: 100%;
  height: 100%;
}
.video_p {
  font-size: 14px;
  text-align: left;
}

.tokyo {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.6666666667);
  margin: auto;
  margin-top: 90px;
  padding: 20px;
}
.tokyo_h4 {
  font-size: 25px;
}
.tokyo_p {
  margin-top: 55px;
  font-size: 17px;
  line-height: 29px;
}

.pictures {
  position: relative;
  width: 89%;
}
.pictures_div {
  width: 1200px;
  height: 1200px;
  background-color: rgb(191, 231, 168);
  z-index: 3;
}
.pictures_img_1 {
  position: absolute;
  top: 100px;
  width: 500px;
  left: 100px;
}
.pictures_img_2 {
  position: absolute;
  width: 500px;
  height: 450px;
  top: 600px;
  left: 100px;
}
.pictures_img_3 {
  position: absolute;
  width: 700px;
  top: 250px;
  right: 0px;
}

.belive {
  max-width: 800px;
  height: 275px;
  margin: auto;
  margin-top: 180px;
}
.belive_h4 {
  font-size: 25px;
}
.belive_p {
  font-size: 17px;
  margin-top: 50px;
}

.imgs3 {
  width: 1400px;
  height: 800px;
}

.img3 {
  margin-top: 100px;
  text-align: center;
}

.passi {
  max-width: 800px;
  max-height: 275px;
  margin: auto;
  margin-top: 90px;
}
.passi_h4 {
  font-size: 26px;
}
.passi_p {
  font-size: 17px;
  margin-top: 30px;
}
.passi_p2 {
  font-style: 17px;
  margin-top: 30px;
}

.works {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 1000px;
}
.works_img_1 {
  position: absolute;
  z-index: 1;
  left: 150px;
  top: 300px;
  width: 500px;
  height: 400px;
  background-image: url("../../images/photo-6-a.jpg");
  background-position: center;
  background-size: cover;
}
.works_div {
  width: 1000px;
  height: 1000px;
  background-color: #f5c5ec;
  position: absolute;
  left: 350px;
  margin: auto;
}
.works_img_3 {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 700px;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/photo-7.jpg");
}

.want {
  width: 800px;
  height: 297px;
  margin: auto;
  margin-top: 100px;
}
.want_h4 {
  font-size: 26px;
}
.want_p {
  font-size: 17px;
  margin-top: 50px;
}

.jobs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.jobs_img {
  width: 666px;
  height: 666px;
}
.jobs_card {
  width: 666px;
  height: 666px;
  background-color: rgb(119, 175, 236);
  padding: 190px 133px;
}
.jobs_card_h4 {
  font-size: 30px;
}
.jobs_card_span {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.jobs_card_span_i {
  font-size: 30px;
}
.jobs_card_span_a {
  font-size: 23px;
}
.jobs_hr {
  margin-top: 100px;
}

.footer_container {
  max-width: 1332px;
  margin: auto;
}

.blue {
  background-color: blue;
}

.bluet {
  background-color: rgb(176, 212, 243);
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.footer {
  margin-top: 100px;
}
.footer_new_line {
  display: flex;
  justify-content: space-between;
}
.footer_h3 {
  font-size: 50px;
  margin-bottom: 30px;
  margin-left: 174px;
  font-weight: 400;
}
.footer_ul_li {
  margin-top: 6px;
  font-size: 16px;
}
.footer_ul_li_icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.footer_ul_li_icons_a {
  padding: 4px;
  margin-left: 4px;
}
.footer_ul_li_icons_a_i {
  font-size: 29px;
  color: aliceblue;
}
.footer_ul_two_li {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.footer_ul_three {
  width: 533px;
}
.footer_ul_three_li_p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer_ul_three_input {
  display: flex;
}
.footer_ul_three_input_input {
  width: 413px;
  height: 41px;
  padding-left: 10px;
  font-size: 18px;
  border: none;
  background-color: rgb(223, 215, 215);
}
.footer_ul_three_input_button {
  width: 120px;
  height: 41px;
  font-size: 20px;
  color: aliceblue;
  border: none;
  background-color: rgb(48, 66, 227);
}
.footer_two {
  max-width: 1022px;
  margin-left: 170px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.footer_two_ul_one_li {
  margin-top: 10px;
}
.footer_two_ul_two {
  margin-left: -177px;
}
.footer_two_ul_two_li {
  margin-top: 10px;
}
.footer_two_ul_three {
  margin-right: -20px;
}
.footer_two_ul_three_h5 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer_two_ul_three_location_select_one {
  padding: 3px;
  border: none;
  background-color: rgb(223, 215, 215);
}
.footer_two_ul_three_location_select_two {
  width: 150px;
  padding: 3px;
  border: none;
  background-color: rgb(223, 215, 215);
}
.footer_last {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_last_ul {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.footer_last_ul_li {
  font-size: 14px;
  font-weight: 550;
}
.footer_last_span {
  display: flex;
  align-items: center;
}
.footer_last_span_li {
  font-size: 15px;
  font-weight: 550;
}
.footer_last_span_i {
  font-size: 25px;
  margin-left: 8px;
}

.footer_container_last {
  max-width: 1333px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */