*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}