.belive {
 max-width: 800px;
  
  margin: auto;
  padding: 20px;
  margin-top: 180px;
  &_h4 {
    font-size: 25px;
  }
  &_p {
    font-size: 17px;
    margin-top: 50px;
    color: black;
  }
}
.imgs3{
    width: 90%;
    max-height: 75vh;

}
.img3{
  max-width: 96%;
    // margin-top: 100px;
  text-align: center;  
}
@media only screen and (max-width:443px) {
.imgs3{
  // margin-top: 100px;
}
}
@media only screen and (max-width:532px) {
  .imgs3{
    margin-top: 30px;
  }
  }
