.belive {
 max-width: 800px;
  height: 275px;
  margin: auto;
  margin-top: 180px;
  &_h4 {
    font-size: 25px;
  }
  &_p {
    font-size: 17px;
    margin-top: 50px;
  }
}
.imgs3{
    width: 1400px;
    height: 800px;

}
.img3{
    margin-top: 100px;
  text-align: center;  
}
