.make{
    // background-color: #000;
   max-width: 800px;
   min-height: 207px;
   padding: 20px;
    // background-color: #ffa;
    margin: auto;
    margin-top: 133px;
    &_h4{
font-size: 26px;
    }
    &_p{
        margin-top: 50px;
font-size: 17px;

    }
}
