.make {
  max-width: 800px;
  min-height: 207px;
  padding: 20px;
  margin: auto;
  margin-top: 133px;
  &_h4 {
    font-size: 26px;
   
  }
  &_p {
    margin-top: 50px;
    font-size: 17px;
  }
}
.make_h4 a{
  text-decoration: none;
  color: rgb(109, 154, 194);
}