.header_nav_container {
  max-width: 1500px;
  padding: 0px 20px;
  margin: auto;
}
.header {
  &_nav {
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    &_ul {
      width: 50%;
      color: #00000000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_logo {
        &_i {
          font-size: 35px;
        }
      }

      &_li {
        font-size: 1.25rem;
        font-weight: 500;
        color: rgb(23, 22, 22);

        &_a {
          margin: 0;
          padding: 0;
         text-decoration: none;
        }
      }
    }

    &_span {
      width: 336px;
      display: flex;

      gap: 30px;
      margin-left: 32%;
      &_li {
        font-weight: 500;
        color: black;

        &_a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.try {
  color: blue;
  font-size: 1.25rem;
}
.log {
  font-size: 1rem;
}
.orenge {
  color: #ff764d;
}
.bxs-down-arrow {
  color: #00000000;
}
.down {
  display: flex;
  display: none;
  padding: 4px;

  align-items: center;
  &_p {
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    margin: 0px;
  }
  &_i {
    color: black;
    margin-left: 5px;
    font-size: 10px;
  }
}
.hamburger_sm {
  display: none;
}

// menu_sm start
  
.menu_tel{
  max-width: 1500px;
 
  position: relative;
  justify-content:center ;
  top: 50px;
  // left: 32px;
}





.menu_sm {
  display: none;
  background-color: rgb(79, 234, 227);
  z-index: 99;
  position: absolute;
width: 80%;
  position: fixed;
   backdrop-filter: blur(20px);
  &_ul {
    position: relative;
    
    padding-top: 20px;
    &_li {
      display: flex;
      justify-content: center;
      &a{
        text-decoration: none;
        color: #000;
      }
      padding: 15px 235px;
      text-align: center;
      font-size: 20px;

      &:active {
        border: 1px solid #746e6e;
      }
      &_x {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 35px;
      }
    }
  }
}
@media only screen and (max-width:600px){
  .menu_tel{
    max-width: 1500px;
   
    position: relative;
    justify-content:center ;
    top: 50px;
    // left: 32px;
  }
  
  
  
  
  
  .menu_sm {
    display: none;
    background-color: rgb(79, 234, 227);
    z-index: 99;
    position: absolute;
  width: 70%;
    position: fixed;
     backdrop-filter: blur(20px);
    &_ul {
      position: relative;
      
      padding-top: 20px;
      &_li {
        display: flex;
        justify-content: center;
        padding: 15px 135px;
        text-align: center;
        font-size: 20px;
  
        &:active {
          border: 1px solid #746e6e;
        }
        &_x {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 35px;
        }
      }
    }
  }
}
.hamburger{
  color: #000;
}
.menu_sm_ul_li a{
  color: #000;
  text-decoration: none;
  text-align: center;
}
@media only screen and (max-width:500px){
  .menu_sm {
    display: none;
    background-color: rgb(79, 234, 227);
    z-index: 99;
    position: absolute;
  width: 60%;
    position: fixed;
     backdrop-filter: blur(20px);
    &_ul {
      position: relative;
      
      padding-top: 20px;
      &_li {
        display: flex;
        justify-content: center;
        padding: 15px 85px;
        text-align: center;
        font-size: 20px;
  
        &:active {
          border: 1px solid #746e6e;
        }
        &_x {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width:430px){
  .menu_sm {
    display: none;
    background-color: rgb(79, 234, 227);
    z-index: 99;
    position: absolute;
  width: 65%;
    position: fixed;
     backdrop-filter: blur(20px);
    &_ul {
      position: relative;
      
      padding-top: 20px;
      &_li {
        display: flex;
        justify-content: center;
        padding: 15px 75px;
        text-align: center;
        font-size: 20px;
  
        &:active {
          border: 1px solid #746e6e;
        }
        &_x {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 35px;
        }
      }
    }
  }

}
@media only screen and (max-width:364px){
  .menu_sm {
    display: none;
    background-color: rgb(79, 234, 227);
    z-index: 99;
    position: absolute;
  width: 60%;
    position: fixed;
     backdrop-filter: blur(20px);
    &_ul {
      position: relative;
      
      padding-top: 20px;
      &_li {
        display: flex;
        justify-content: center;
        padding: 15px 65px;
        text-align: center;
        font-size: 20px;
  
        &:active {
          border: 1px solid #746e6e;
        }
        &_x {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 35px;
        }
      }
    }
  }

}




@media only screen and (max-width: 1275px) {
  .header_nav_container {
    max-width: 1500px;
    padding: 0px 20px;
    margin: auto;
  }
  .header {
    &_nav {
      height: 70px;

      display: flex;
      align-items: center;
      width: 100%;
      &_ul {
        width: 48%;
        color: #00000000;
        display: flex;
        gap: 17px;
        align-items: center;
        &_logo {
          &_i {
            font-size: 32px;
          }
        }

        &_li {
          font-size: 1.1rem;
          font-weight: 500;

          &_a {
            margin: 0;
            padding: 0;
          }
        }
      }

      &_span {
        width: 364px;
        display: flex;

        gap: 30px;
        margin-left: 24%;
        &_li {
          font-weight: 500;

          &_a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1111px) {
  .header_nav_container {
    max-width: 97%;
    padding: 0px 20px;
    margin: auto;
  }
  .header {
    &_nav {
      height: 70px;

      display: flex;
      align-items: center;
      width: 100%;
      &_ul {
        width: 48%;
        color: #00000000;
        display: flex;
        gap: 14px;
        align-items: center;
        &_logo {
          &_i {
            font-size: 32px;
          }
        }

        &_li {
          font-size: 1.1rem;
          font-weight: 500;

          &_a {
            margin: 0;
            padding: 0;
          }
        }
      }

      &_span {
        // width: 364px;
        display: flex;

        gap: 30px;
        margin-left: 19%;
        &_li {
          font-weight: 500;

          &_a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .down {
    display: block;
    display: flex;
  }
  .header_nav_ul {
    width: 12%;
margin: 0px;
    align-items: center;
  }
  .none {
    display: none;
  }
  .header_nav_ul_logo {
    display: none;
  }
  .hamburger_sm {
    display: block;
    position: absolute;
    font-size: 25px;
    right: 70px;
  }
}

.header_nav_ul_li_a{
  color: #000;
}
.block_s {
  display: block;
}
.none_s {
  display: none;
}
.header_nav_button{
  padding: 2px 4px;
  font-size: 17px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  &:hover{
    background-color: #a9a3a3;
    color: #ffff;
  }
}