.tokyo {
  max-width: 800px;
  background-color: #fffa;
  margin: auto;
  margin-top: 90px;
  padding: 20px;
  &_h4 {
    font-size: 25px;
  }
  &_p {
    margin-top: 55px;
    font-size: 17px;
    line-height: 29px;
  }
}
        